body {
  background-color:#ffffff;
  color: #000000;
  font-family: "BLOKK";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  font-style: normal;
  padding: 0;
  word-wrap: break-word;
}

nav ul {
  display: flex;
  padding: 20;
  margin: 0.5rem;
}
nav ul li {
  display: flex;
  position: relative;
}
nav ul li a {
  display: inline-block;
  padding: 0.5rem;
  color: #000000;
}
nav .main-menu ul > li > a {
  text-decoration: none;
}
nav .main-menu ul > li > a:hover {
  background-color: #ffffff;
}
nav .user-menu ul > li:first-of-type::after {
  content: "|";
  margin-top: 1rem;
  color: #fff;
  opacity: 0.5;}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #684aec;
  z-index: 3;
}
nav .logo {
  position: absolute;
  left: 0;
  width: 10rem;
}

nav .menu-container {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-left: 20rem;

}

nav.fixed {
  position: fixed;
}
nav.sticky {
  position: sticky;
}
nav.absolute {
  position: absolute;
}


main {
  position: relative;
 
}

h3 {
  margin-left: 10rem;
}

h2 {
  border-radius: 0 25px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.fotos {
  text-align: center;
}
.flex-container{
  display: flex;
}

.box1{
  background-color: #684aec;
  margin: 30px;
  padding: 10px;
  font-size: 18px;
border-radius: 0 50px;
}

img {
  border-radius: 0 50px;
}
.fotos2 {
  size-adjust: 480px;
}

.fixerformario{

  margin-left: 0.5rem;

}